<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- reo - added html to display products list  -->
<head th:replace="header :: copy"></head>

<body>
	<h1>Products by Name</h1>
	<div th:if="not ${products}" class="error">
		No products found containing '<span th:text="${search}">text</span>'.
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:if="${products}">
		<p>
			Products whose manufacturer contains ' <span th:text="${search}">text</span>' are:
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product Number</th>
					<th>Manufacturer</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="product : ${products}">
					<td><a href="product.html"
						th:href="@{|/products/${product.number}|}"
						th:text="|${product.number}|">11111111</a></td>
					<td th:text="${product.manufacturer}">Manufacturer</td>
					<td th:text="${product.price}">0</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/products/search}">Product Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
